.Counter {
  border: 2px solid black;
  width: 200px;
  margin: 1rem auto;
}

.Counter h2 {
  text-align: center;
}

.Counter button {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border: 3px solid rgb(255, 91, 91);
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
  /* Center it */
  margin: 0 auto;
  display: block;
}
